body {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: #2F4858;
}

nav {
    background-color: #FBFFFE;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40px;
    height: 150px;
    border-radius: 20px;
    margin: 50px;
    text-align: center;
}

.pg_links {
    text-decoration: none;
    color: #2F4858;
}

i {
    color: #2F4858;
}

main {
    position: absolute;
    top: 0px;
}

.main_container {
    display: flex;
    align-items: center;
}

.main_intro {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70vh;
    text-align: center;
}

.hi_there {
    font-family: "Oswald", sans-serif;
    color: #FBFFFE;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 30px;
    text-transform: uppercase;
}

.my_name {
    font-family: "Oswald", sans-serif;
    color: #FBFFFE;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 80px;
    text-transform: uppercase;
}

.my_title {
    font-family: "Oswald", sans-serif;
    color: #FBFFFE;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.my_intro {
    text-align: justify;
    color: #FBFFFE;
    text-indent: 30px;
    padding: 3% 15%;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    line-height: 30px;
}

.more_about_me {
    color: #2F4858;
    background-color: #FBFFFE;
    border-radius: 20px;
    border: 2px solid #2F4858;
    width: 125px;
    height: 30px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
}

.home_pic {
    width: 50%;
    height: 100vh;
    background-image: url(https://cdn.discordapp.com/attachments/1161113113182081037/1269875177479475232/tony.vfx_An_IT_tech_professional_with_slick_back_hair_and_light_87e17259-cbf6-42c4-8693-955f2a6d69c4_dax_ins.jpg?ex=66b1a6eb&is=66b0556b&hm=ad2791ee7b804fa852be06dc704b606aab1b3bf49a8308874bffe164803dc552&);
    background-size: cover;
}